.calculator {
	background-color: var(--calculator);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
}

.calculator__buttons {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 2px;
}

.calculator__button {
	background-color: var(--button);
	color: var(--button-text);
	font-size: 25px;
	border: none;
	padding: 15px;
	text-align: center;

	&:hover {
		background: var(--button-hover);
	}

	&:active {
		transform: scale(0.95);
	}
}

.calculator__button--highlight {
	background-color: var(--highlight);

	&:hover {
		background: var(--highlight-hover);
	}
}

.calculator__button--lowlight {
	background-color: var(--lowlight);

	&:hover {
		background: var(--lowlight-hover);
	}
}

.button--undo {
	grid-column: 1/3;
}

.button--zero {
	grid-column-end: 5;
}

.button--equal {
	grid-column: 6 /8;
}

.calculator__display {
	background: var(--calculator);
	padding: 20px;
	border: none;
	font-size: 35px;
	text-align: right;
	color: var(--text);

	&:focus-visible {
		outline: 1px var(--highlight) auto;
	}

	&::placeholder {
		color: var(--text);
	}
}
